@charset "utf-8";
.icon-navbar:before{content:"☰";}
customicon{
	display:inline-block;
	width:24px;
	height:24px;
	background-size:24px 24px;
}
customicon.icon-size-scaled{
	width:36px;
	height:36px;
	background-size:36px 36px;
}
customicon.icon-size-big{
	width:48px;
	height:48px;
	background-size:48px 48px;
}
customicon.icon-del{
	background:url(../img/Delete.png);
}
customicon.icon-down{
	background:url(../img/Download.png);
}
customicon.icon-menu{
	background:url(../img/Menu.png);
}
customicon.icon-ok{
	background:url(../img/OK.png);
}
customicon.icon-read{
	background:url(../img/Read.png);
}